{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% load static %}
{% block content %}
<div class="header">
  <div class="logo">Logo</div>
  <nav class="nav">
      <a href=""><i class="fa-solid fa-plus"></i>New Code</a>
      <a href="{% url 'login_view' %}"><i class="fa-regular fa-circle-user"></i>Iniciar Sesion</a>
      <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
  </nav>
</div>
<div class="container-registro">
    <article class="article-registro-inicio">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Registro de Usuario</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
  <article class="section-formulario-registro">
    <form method="post" action="{% url 'users_form' %}" class="formulario-registro">
      {% csrf_token %}

      <div class="nombre-registro"><p>Nombre de<br>Usuario</p><input type="text" class="box" id="name_u" name="name_u" value="{{ form.name_u.value }}"></div>
      <div class="correo-registro"><p>Correo</p><input type="text" class="box" id="email" name="email" value="{{ form.email.value }}"></div>
      <div class="password-registro"><p>Contraseña</p><input type="password" class="box"  id="password" name="password" value="{{ form.password.value }}"></div>
      <div class="repetir-password-registro"><p>Verificar<br>Contraseña</p><input type="password" class="box"></div>
      <div class="" style="display: none;"><input type="text" id="roles_id" name="roles_id" value="2"></div>
      <div class="contenedor-botones-formulario">
          <input class="boton-limpiar-registro" type="reset" name="limpiar" value="Limpiar">
          <input class="boton-registrar-user" type="submit" name="registrar" value="Registrar">
      </div>
      <a href="{% url 'login_view' %}" class="recuperarContra">Ya tengo una cuenta</a>  
    </form>
  </article>
  </div>

<footer class="footer">
  <div class="contenedor-footer">
      <p class="titulo-section">¡Siguenos!</p>
  </div>
  <div class="redes-sociales">
      <a href="" class="boton-redes-sociales">
          <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="boton-redes-sociales">
          <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="" class="boton-redes-sociales">
          <i class="fa-brands fa-twitter"></i>
      </a>
  </div>
</footer>

{% endblock %}