<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compilator</title>
    <link rel="stylesheet" href="../mainCss/styles.css">
</head>
<body>
    
    <header class="header">
        <div class="logo">Logo</div>
        <nav class="nav">
            <a href=""><i class="fa-solid fa-plus"></i>New Code</a>
            <a href="../registrarse/index.html"><i class="fa-regular fa-address-card"></i>Registrarse</a>
            <a href="../index.html"><i class="fa-solid fa-xmark"></i>Regresar</a>
        </nav>
    </header>

    <div class="login-inicio-sesion">
        <article class="article-inicio-sesion">
            <i class="fa-solid fa-chevron-left"></i>
            <p>Inicio de Sesion</p>
            <i class="fa-solid fa-chevron-right"></i>
        </article>
        <article class="container-formulario-inicio">
            <form action="" class="formulario-inicio-sesion">
                <div class="correo-inicio-sesion"><p>Correo</p><input type="text" class="box"></div>
                <div class="password-inicio-sesion"><p>Contraseña</p><input type="password" class="box"></div>
                <div class="container-boton-iniciar-sesion"><input class="boton-iniciar-sesion" type="submit" name="inicio" value="Iniciar Sesion"></div>
                <a href="recuperarPassword/index.html" class="recuperar-password">Se me olvido la contraseña</a>
            </form>
        </article>
    </div>

    <footer class="footer">
        <div class="contenedor-footer">
            <p class="titulo-section">¡Siguenos!</p>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c8a64a31fc.js" crossorigin="anonymous"></script>
    <script src="../mainJs/code.js"></script>
</body>
</html>