<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo</h1>
    <span>avances</span>
    <p> +Estan hechas las migraciones y modelos
        +la base de datos esta montada
        +esta funcional el create de roles (no estara habilitado solo es test)
        +en espera de las vistas
        +hay que investigar como hacer registros en multiples tablas de una vez
        porque se amerita esto en todo los crud
        
    </p>

</body>
</html>