{% extends 'base.html' %}

{% load static %}

{% block content %}   
<header class="header">
    <div class="logo">Logo</div>
    <nav class="nav">
        <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
    </nav>
</header>

<div class="inicio-cambiar-password">
    <article class="article-cambiar-password">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Cambiar Contraseña</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
    <article class="section-cambiar-password">
        <form action="" class="formulario-cambiar-password">
            <div class="change-password"><p>Nueva<br>Contraseña</p><input type="text" class="box"></div>
            <div class="new-password"><p>Verificar<br>Contraseña</p><input type="text" class="box"></div>
            <div class="container-boton-new-password">
                <input class="boton-new-password" type="submit" name="verificar" value="Aceptar">
            </div>
        </form>
    </article>
</div>

<footer class="footer">
    <div class="contenedor-footer">
        <p class="titulo-section">¡Siguenos!</p>
    </div>
    <div class="redes-sociales">
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>
{% endblock %}