{% extends 'base.html' %}
{% block title %}Iniciar Sesion{% endblock %}
{% load static %}

{% block content %}

<header class="header">
    <div class="logo">
        <img class="img" src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href=""><i class="fa-solid fa-plus"></i>New Code</a>
        <a href="../users/create/"><i class="fa-regular fa-address-card"></i>Registrarse</a>
        <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
    </nav>
</header>

<div class="login-inicio-sesion">
    <article class="article-inicio-sesion">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Inicio de Sesion</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
{% if messages %}
    <ul class="messages login">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
    <article class="container-formulario-inicio">
        <form method="POST" action="{% url 'login_view'%}" class="formulario-inicio-sesion">
            {% csrf_token %}
            <div class="correo-inicio-sesion"><p>Correo</p><input type="text" class="box" id="email" name="email"></div>
            <div class="password-inicio-sesion"><p>Contraseña</p><input type="password" class="box" id="password" name="password">
                <input class="check-tt" type="checkbox" onchange="togglePasswordVisibility()">
            </div>
            <div class="container-boton-iniciar-sesion"><input class="boton-iniciar-sesion" type="submit" name="inicio" value="Iniciar Sesion"></div>
            <a href="../recuperar_pass/" class="recuperar-password">Se me olvido la contraseña</a>
        </form>
    </article>
</div>

<footer class="footer">
    <div class="contenedor-footer">
        <p class="titulo-section">¡Siguenos!</p>
    </div>
    <div class="redes-sociales">
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>

{% endblock %}