{% extends 'base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% load static %}

{% block content %}
    
    <header class="header">
        <div class="logo">Logo</div>
        <nav class="nav">
            <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
        </nav>
    </header>

    <div class="inicio-recuperar-password">
        <article class="articulo-inicio-recuperar">
            <i class="fa-solid fa-chevron-left"></i>
            <p>Recuperar contraseña</p>
            <i class="fa-solid fa-chevron-right"></i>
        </article>
        <article class="section-recuperar-password">
            <form action="" class="formulario-recuperar-password">
                <div class="correo-recuperar-password"><p>Correo</p><input type="text" class="box"></div>
                <div class="contenedor-boton-recuperar">
                    <input class="boton-verificar-correo" type="submit" name="verificar" value="Verificar">
                </div>
            </form>
        </article>
    </div>

    <footer class="footer">
        <div class="contenedor-footer">
            <p class="titulo-section">¡Siguenos!</p>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </footer>


{% endblock %}