{% extends 'base.html' %}
{% block title %}Verificacion{% endblock %}
{% load static %}

{% block content %}
    
<header class="header">
    <div class="logo">
        <img class="img" src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
    </nav>
</header>

<div class="inicio-verificar-correo">
    <article class="article-inicio-verificar">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Para saber que eres tu, contesta<br>la pregunta de seguridad</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
    <article class="section-verificar-correo">
        <form method="POST" action="{% url 'verificar_pp' id=user_id %}" class="formulario-verificar-correo">
            {% csrf_token %}
            <div class="pregunta-verificacion"><input type="text" class="box" name="question_u" value="{{ question_user }}"></div>
            <div class="correo-verificar"><p>Respuesta</p><input type="text" class="box" name='response_u' value=""></div>
            <div class="contenedor-boton-verificar">
                <input class="boton-verificar-correo" type="submit" name="verificar" value="Verificar">
            </div>
        </form>
    </article>
</div>

{% endblock %}