{% extends 'base.html' %}
{% block title %}Compiler{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script> 
{% endblock %}
{% load static %}

{% block content %}
    
<header class="header">
    <div class="logo">
        <img src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href="../login/"><i class="fa-regular fa-circle-user"></i>Iniciar Sesion</a>
        <a href="../users_form/" id="registrar"><i class="fa-regular fa-address-card"></i>Registrarse</a>
        <a href="/"><i class="fa-solid fa-xmark"></i>Regresar</a>
    </nav>
</header>

<div class="name">
    <article class="article-inicio-python">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Python</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
    <span class="alert-register">Para poder Guardar sus proyectos debe de estar Registrado</span>
     <div class="linebar"></div>  
</div>
    
<div class="container-code">
    <div class="left-code">
        <p><i class="fa-regular fa-keyboard"></i>Escribe tu codigo</p>
        <div class="text-compiler">
            <py-repl class="py-custom"></py-repl>
        </div>
        <!-- <textarea id="python-code"></textarea> -->
    </div>
    <div class="right-code-compile">
        <p><i class="fa-solid fa-square-poll-horizontal"></i>Mira tu resultado</p>
<!--         <iframe id="output">
        </iframe> -->
        <div id="output-terminal">
            <py-terminal auto="" class=""></py-terminal>
        </div>
    </div>
</div>

<div class="error-console">
    <div class="console-no-user">
        <p><i class="fa-solid fa-circle-exclamation"></i>Console</p>
        <!-- <iframe id="console-log-error"></iframe> -->
    </div>
</div>

<footer class="footer">
    <div class="contenedor-footer">
        <p class="titulo-section">¡Siguenos!</p>
    </div>
    <div class="redes-sociales">
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="boton-redes-sociales">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>
{% endblock %}