{% extends 'base.html' %}
{% block title %}Compiler User{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script> 
{% endblock %}
{% load static %}

{% block content %}
    
<header class="header">
    <div class="logo">
        <img class="img" src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href="{% url 'gestion_archivos' id=user_id %}"><i class="fa-solid fa-house-user"></i>Home</a>
        <i class="fa-regular fa-user user-pic" onclick="toggleMenu()"></i>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <i class="fa-regular fa-user"></i>
                    <p>{{user.name_u|title}}</p>
                </div>
                <hr>
                <a href="{% url 'students_form' id=user_id %}" class="sub-menu-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-solid fa-gear"></i>
                    <p>Setting & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-regular fa-circle-question"></i>
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a href="../login/" class="sub-menu-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>

    </nav>
</header>

{% if name is None %}

    <div class="container-datos">
        <p class="messages login error gestion-archivos-error">
            Debes de registrar primero tus datos de estudiante,<br>
            en el panel de perfil, dandole al boton de perfil,<br>
            en la esquina superior derecha de la página,<br>
            en el boton de Edit Profile.
        </p>
    </div>

{% else %}


<div class="name">
    <article class="article-inicio-python">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Python</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
    <div class="linebar"></div>  
</div>
    
<div class="container-code">
    <div class="left-code">
        <p><i class="fa-regular fa-keyboard"></i>Escribe tu codigo [ Shift + Enter to Compile {{projectId}}]</p>
        <div class="text-compiler">
            <py-repl class="py-custom">
                holaMundo = 'Hola Mundo'
                print(holaMundo)
                {{project.data_ref}}
            </py-repl>
        </div>
    </div>
    <div class="right-code-compile">
        <p><i class="fa-solid fa-square-poll-horizontal"></i>Mira tu resultado</p>
        <button onclick="limpiarTerminal()" class="btn-clean-terminal">Limpiar terminal</button>
        <div id="output-terminal">
            <py-terminal auto="" class="" id="terminal"></py-terminal>
        </div>
    </div>
</div>

<div class="error-console">
    <div class="console">
        <p><i class="fa-solid fa-circle-exclamation"></i>Console</p>
        <iframe id="console-log-error"></iframe>
    </div>
    <div class="botones-console">
        <div class="boton-guardar-archivo">
            <input type="submit" method="POST" name="guardar" value="Guardar" id="guardar" class="open-modal-container">
        </div>
        <div class="boton-guardar-exportar">
            <input type="submit" method="POST" name="guardar-y-exportar" value="Guardar y Exportar" id="exportar" class="exportar-modal">
        </div>
        
    </div>
</div>


<div class="modal-container-c">
    <div class="modal-d">
        <div class="contenido-modal">
            <div class="modal-comp-header">
                <p>Guardar Archivo</p>
                <i class="fa-solid fa-xmark modal-close"></i>
            </div>
            <div class="modal-comp-body">
                <form method="POST" action="{% url 'compilador' id=user_id %}" class="form-projects">
                    {% csrf_token %}
                    {%if containers is None %}
                        <p>Debes crear una carpeta primero</p>
                    {%else%}
                    <p class="pp">Descripcion del Proyecto</p>
                    <input type="text" class="box" name="description" id="descriptionProject">

                    <div class="select-box">
                        <div class="select"  id="select">
                          <div class="contenido-select">
                            <p class="titulo-select">Selecciona tu carpeta</p>
                          </div>
                          <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="select-opciones" id="selectOpciones">       
                            {% for container in containers%}
                                <a href="#" class="opciones">
                                    <div class="contenido-opcion">
                                        <div class="text-select">
                                            <p class="titulo-select">{{container.title}}</p>
                                            <p class="id-select" style="display: none;">{{container.id}}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <input type="hidden" name="carpeta" id="inputSelect" value="">
                    <input type="hidden" name="id_carpeta" id="inputCarpeta" value="">
                    <input type="hidden" name="code" id="code" value="">

                    <button type="submit" class="submit-project" >Guardar Proyecto</button>

                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }
/*
    function abrir(){
        
        const cmContent = document.querySelector(".cm-content");
        const cmLines = cmContent.querySelectorAll(".cm-line");
        let texto = cmContent.textContent;

        cmLines.forEach((cmLine)=>{
            const lineText = cmLine.textContent;
            console.log(lineText);
            texto = texto.replace(lineText,"");
            console.log(texto)
        });

        texto = texto.replace(/<span[^>]*>/g, "").replace(/<\/span>/g, "");
        console.log(texto);
    }*/

    const select = document.querySelector('#select');
    const selectOpciones = document.querySelector('#selectOpciones');
    const contenidoSelect = document.querySelector('#select .contenido-select');
    const hiddenInput = document.querySelector('#inputSelect');
    const hiddenId = document.querySelector('#inputCarpeta')

    document.querySelectorAll('#selectOpciones > .opciones').forEach((opcion) => {
        opcion.addEventListener('click',(e)=>{
        e.preventDefault();
        contenidoSelect.innerHTML = e.currentTarget.innerHTML;
        select.classList.toggle('active');
        selectOpciones.classList.toggle('active');
        hiddenInput.value = e.currentTarget.querySelector('.titulo-select').innerText;
        hiddenId.value = e.currentTarget.querySelector('.id-select').innerText;


        let text = document.querySelector("#code");
        const cmContent = document.querySelector(".cm-content");
        const cmLines = cmContent.querySelectorAll(".cm-line");
        let texto = "";

        cmLines.forEach((cmLine) => {
        const lineaTexto = cmLine.innerHTML.replace(/<span.*?>/g, "").replace(/<\/span>/g, "");
        texto += lineaTexto + '\n';
        });

        console.log(texto);
        text.value = texto;

        });
    });

    select.addEventListener('click',()=>{
        select.classList.toggle('active');
        selectOpciones.classList.toggle('active');
    });


    let modalProject = document.querySelector(".modal-container-c");
    let closeModal = document.querySelector(".modal-close");
    let openModall = document.querySelector(".open-modal-container");
    let exportar = document.querySelector(".exportar-modal");
    
    openModall.addEventListener('click',(e)=>{
        e.preventDefault();
        modalProject.classList.add("modal-show");
    });


    closeModal.addEventListener('click',(e)=>{
        e.preventDefault();
        modalProject.classList.remove("modal-show");
    });

    exportar.addEventListener('click',(e)=>{
        e.preventDefault();
        modalProject.classList.add("modal-show");

        const cmContent = document.querySelector(".cm-content");
        const cmLines = cmContent.querySelectorAll(".cm-line");
        let texto = "";

        cmLines.forEach((cmLine) => {
        const lineaTexto = cmLine.innerHTML.replace(/<span.*?>/g, "").replace(/<\/span>/g, "");
        texto += lineaTexto + '\n';
        });

        let butonExport = document.querySelector(".submit-project");
        let description = document.querySelector("#descriptionProject");
        

        butonExport.addEventListener('click',(e)=>{
            description = description.value
            const blob = new Blob([texto], { type: "text/plain;charset=utf-8" });
            const url = URL.createObjectURL(blob);

            const link = document.createElement("a");
            link.href = url;
            link.download = description + ".py";
            document.body.appendChild(link);

            link.addEventListener("click", () => {
                setTimeout(() => {
                  URL.revokeObjectURL(url);
                  document.body.removeChild(link);
                }, 100);
            });

            link.click();


        });

    });


    function saveProject(){
        const cmContent = document.querySelector(".cm-content");
        const cmLines = cmContent.querySelectorAll(".cm-line");
        let texto = "";

        cmLines.forEach((cmLine) => {
        const lineaTexto = cmLine.innerHTML.replace(/<span.*?>/g, "").replace(/<\/span>/g, "");
        texto += lineaTexto + '\n';
        });

        console.log(texto);

        let descriptionProject = document.querySelector("#descriptionProject");
        let inputCarpet = document.querySelector("#inputCarpeta");
    }

function limpiarTerminal() {
    var terminal = document.getElementById('terminal');
    terminal.innerHTML = '';
}
</script>
{% endblock %}