{% extends 'base.html' %}
{% block title %}Compiler- User{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script> 
{% endblock %}
{% load static %}

{% block content %}
    
<header class="header">
    <div class="logo">
        <img class="img" src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href="{% url 'gestion_archivos' id=user_id %}"><i class="fa-solid fa-house-user"></i>Home</a>
        <i class="fa-regular fa-user user-pic" onclick="toggleMenu()"></i>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <i class="fa-regular fa-user"></i>
                    <p>{{user.name_u|title}}</p>
                </div>
                <hr>
                <a href="{% url 'students_form' id=user_id %}" class="sub-menu-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-solid fa-gear"></i>
                    <p>Setting & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-regular fa-circle-question"></i>
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a href="../login/" class="sub-menu-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>

    </nav>
</header>

{% if name is None %}

    <div class="container-datos">
        <p class="messages login error gestion-archivos-error">
            Debes de registrar primero tus datos de estudiante,<br>
            en el panel de perfil, dandole al boton de perfil,<br>
            en la esquina superior derecha de la página,<br>
            en el boton de Edit Profile.
        </p>
    </div>

{% else %}


<div class="name">
    <article class="article-inicio-python">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Python</p>
        <i class="fa-solid fa-chevron-right"></i>
    </article>
    <div class="linebar"></div>  
</div>
    
<div class="container-code">
    <div class="left-code">
        <p><i class="fa-regular fa-keyboard"></i>Escribe tu codigo</p>
        <div class="text-compiler">
            <py-repl class="py-custom"></py-repl>
        </div>
    </div>
    <div class="right-code-compile">
        <p><i class="fa-solid fa-square-poll-horizontal"></i>Mira tu resultado</p>
        <div id="output-terminal">
            <py-terminal auto="" class=""></py-terminal>
        </div>
    </div>
</div>

<div class="error-console">
    <div class="console">
        <p><i class="fa-solid fa-circle-exclamation"></i>Console</p>
        <iframe id="console-log-error"></iframe>
    </div>
    <div class="botones-console">
        <div class="boton-guardar-archivo">
            <input type="submit" name="guardar" value="Guardar">
        </div>
        <div class="boton-guardar-exportar">
            <input type="submit" name="guardar-y-exportar" value="Guardar y Exportar">
        </div>
        
    </div>
</div>

{% endif %}

<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }
</script>

{% endblock %}