<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compilator</title>
    <link rel="stylesheet" href="../mainCss/styles.css">
    <script src="https://kit.fontawesome.com/c8a64a31fc.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="header">
        <div class="logo">Logo</div>
        <nav class="nav">
            <a href="../compilador/index.html"fa-solid fa-plus"></i>New Code</a>
            <i class="fa-regular fa-user"></i>
        </nav>
    </header>
    
    <div class="hola-user">
        <p>Hola, @user <i class="fa-solid fa-hands-bubbles"></i></p>
    </div>

    <div class="container-gestor">
        <div class="gestor-section-uno">
            <div class="buscar-archivos-gestor">
                <p>Buscar <i class="fa-solid fa-magnifying-glass"></i></p>
                <input type="text" class="box"> 
            </div>
            <div class="crear-carpetas-gestor">
                <input 
                class="boton-crear-carpeta-gestor" 
                type="submit" 
                name="crear-carpeta" 
                value="Crear Carpeta"
                >
            </div>
        </div>
        <div class="gestor-section-dos">
            <iframe id="table-archivos"></iframe>
        </div>
        <div class="gestor-section-tres">
            <input 
            class="boton-crear-archivo-gestor" 
            type="submit" 
            name="crear-archivo" 
            value="Crear archivo"
            >
        </div>
    </div>

    <footer class="footer">
        <div class="contenedor-footer">
            <p class="titulo-section">¡Siguenos!</p>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="boton-redes-sociales">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c8a64a31fc.js" crossorigin="anonymous"></script>
    <script src="../mainJs/code.js"></script>
</body>
</html>