{% extends 'base.html' %}

{% load static %}

{% block content %}
<header class="header">
    <div class="logo">
        <img class="img" src="{%static 'images/logo.png'%}" >
    </div>
    <nav class="nav">
        <a href="../compilador/"><i class="fa-solid fa-plus"></i>New Code</a>
        <i class="fa-regular fa-user user-pic" onclick="toggleMenu()"></i>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <i class="fa-regular fa-user"></i>
                    <p>{{name_u|title}}</p>
                </div>
                <hr>
                <a href="{% url 'students_form' id=user_id %}" class="sub-menu-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-solid fa-gear"></i>
                    <p>Setting & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="fa-regular fa-circle-question"></i>
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a href="../login/" class="sub-menu-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
        
    </nav>
</header>

<div class="hola-user">
    <p>Hola,        {{name_u|title}}<i class="fa-solid fa-hands-bubbles"></i></p>
</div>

<div class="container-gestor">
    <div class="gestor-section-uno">
        <div class="buscar-archivos-gestor">
            <p>Buscar <i class="fa-solid fa-magnifying-glass"></i></p>
            <input type="text" class="box"> 
        </div>
        
        <div class="crear-carpetas-gestor">
            <input 
            class="boton-crear-carpeta-gestor" 
            type="submit" 
            name="crear-carpeta" 
            value="Crear Carpeta"
            data-toggle="modal" 
            data-target="#myModal"
            >
        </div>
<!--         <button type="button" class="boton-crear-carpeta-gestor" data-toggle="modal" data-target="#myModal">
            Crear Contenedor
        </button> -->

    </div>
        <!-- Agregar mensaje de éxito -->
        <div id="success-message" class="alert alert-success" style="display: none;">El contenedor se ha creado con éxito.</div>
    <div class="gestor-section-dos">
        <iframe id="table-archivos"></iframe>
    </div>
    <div class="gestor-section-tres">
        <input 
        class="boton-crear-archivo-gestor" 
        type="submit" 
        name="crear-archivo" 
        value="Crear archivo"
        >
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content custom-modal">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Crear Carpeta</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'container_create' %}">
            {% csrf_token %}
                <p>
                    <label for="id_title">Título:</label>
                    <input type="text" name="title" maxlength="200" required="" id="id_title">
                    <div class="" style="display: none;"><input type="text" id="" name="students_id" value="{{user_id}}"></div>
                </p>
                <button type="submit" class="btn btn-primary custom-agg">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }

    $(document).ready(function() {
  $('#myModal form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function(data) {
        $('#myModal').modal('hide');
        $('#container-list').html(data);
        $('#success-message').show().delay(3000).fadeOut();
      }
    });
  });
});
</script>

{% endblock %}